table {
	table-layout: fixed;
}

td, th {
	padding: 5px;
}

.highlighter: {
	background-color: #F10;
}

.loading {
	display: block;
	margin: 10px auto;
	vertical-align: middle;
	height: 500px;
	width: 500px;
}

.warning{
	color: red;
}

table, th, td {
    border: 1px solid #DCDCDC	;
}

