.eachRow1234111{
	padding: 40px;
	border-bottom: 3px solid #edeeef;
	border-top: 3px solid #edeeef;
}


.preCircularBar .CircularProgressbar .CircularProgressbar-path {
	stroke: #bb4242;
}

.divvx1231{
	border: 2px solid #edeeef;
	padding: 30px;

}